doctype html
html
  head
    title Repositórios GraphDB
    link(rel='stylesheet', href='/stylesheets/style.css')
<<<<<<< HEAD
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/apagaResults.js')
=======
>>>>>>> 506c662f2272bd9b6e4b5c831a00d9beef3393b5
  style.
    * {
    box-sizing: border-box;
    }
    body {
      background-color: #8c8c8c;
      font-family: Arial, Helvetica, sans-serif;
    }
    .column {
      float: left;
      width: 50%;
      padding: 0 10px;
    }
    .row {margin: 0 60px;}
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 10px;
      text-align: center;
      background-color: #ffffff;
    }
  body
    block content
