extends layout

block content
  h1.w3-center(style="margin-top:1cm;") Repositórios GraphDB
  div(style="margin:2cm;")
      div(class="column")
        div(class="card")
          h2.w3-center(style="margin-top:-0.001cm;") Indique um repositório e uma query
          form.w3-container(action="/" method="post")
            .w3-container(id='lista')
              .w3-container(id='f1')
                if repositorio.length > 0
                  textarea(required type='text' rows="10" cols="10" name='repositorio' placeholder='Repositorio')
                    | #{repositorio}
                else
                  textarea(required type='text' rows="10" cols="10" name='repositorio' placeholder='Repositorio')
                if query.length > 0
                  textarea(required type='text' rows="10" cols="30" name='query' placeholder='Query')
                    | #{query}
                else
                  textarea(required type='text' rows="10" cols="30" name='query' placeholder='Query')
            input.w3-input.w3-black(type="submit" value="Exec")
      div(class="column")
        div(class="card")
          h2.w3-center(style="margin-top:-0.001cm;") Repositórios disponíveis
          div(style="margin:1.96cm;")
            each repositorio in repositorios
              tr
                td
                  h3(style="color:red;")=repositorio
      div.w3-center(class="column" style="margin-top:1cm; margin-left:7.5cm;")
          h2(style="margin-left:1.5cm;") Results
          textarea(id="theTextarea" rows="10" cols="70")
            | #{resultados}
          button.w3-button.w3-black(style="margin-left:1.5cm;" onclick="javascript: apagaResultados();") Limpar
